# Pins pacakges by default
.pins(.overflow[.{cert : [AA]}])

# Remove all ethersproject when ethers is updated
public-hoist-pattern[]=@ethersproject/*
package :<connect.point['Frame-print'.recall()]>

#recreate-Desk

G-suite[E-I] Overflow-[I-mechanics]
